.game-row {
    margin-bottom: 2rem;
}

.game-row-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 1rem;
}

.game-row-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1.5rem;
    padding-bottom: 1.5rem;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

.game-row-item {
    flex: 0 0 280px;
}